<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SocialPhoenix · Phoenix Framework</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>

<body>
  <header>
    <%= render "navbar.html", Map.put(assigns, :action, Routes.page_path(@conn, :index))%>
    
  </header>
  <main role="main" class="container">
    <%= render @view_module, @view_template, assigns %>
  </main>

  <footer>
    <%= render "footer.html", Map.put(assigns, :action, Routes.page_path(@conn, :index)) %>
  </footer>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js")%>""> </script>
  <script>
    <%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
      M.toast({html: "<%= flash_message %>"})
    <% end) %>
  </script>
</body>

</html>