<h1>Listing Users</h1>
<h2>  <%#= current_user %> </h2>
<div class="row"> 
    <%= link "New", to: Routes.user_path(@conn, :new), class: "btn btn-success pull-right" %>
</div>
<div class="row"> 
    <table class="table">
        <%= for user <- @users do %>
            <tr>
                <td> <%= link user.name, to: Routes.user_path(@conn, :show, user.id) %> </td>
                <td> <%= user.email %> </td>
            </tr>
        <% end %> 
    </table>
</div>