<h1>Showing User</h1>

<%= render("user.html", user: @user)%>

<%= if following?(@current_user) do %>
    <%= link "Unfollow", to: Routes.follow_path(@conn, :unfollow, @user.id), method: "delete" , class: "btn btn-success pull-right" %>
<%= else %>
    <%= link "Follow", to: Routes.follow_path(@conn, :follow, @user.id), method: "post" , class: "btn btn-success pull-right" %>
<% end %>